<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>占い - 結果</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='janken.css') }}" />
</head>

<body>
    <main>
        <h1>占い結果</h1>
            <figure>
                {% if result == 1 %}
                <img src="{{ url_for('static', filename='bikkuri.png') }}" width="150" />
                {% elif result == 2 %}
                <img src="{{ url_for('static', filename='bikkuri.png') }}" width="150" />
                <img src="{{ url_for('static', filename='bikkuri.png') }}" width="150" />
                {% elif result == 3 %}
                <img src="{{ url_for('static', filename='bikkuri.png') }}" width="150" />
                <img src="{{ url_for('static', filename='bikkuri.png') }}" width="150" />
                <img src="{{ url_for('static', filename='bikkuri.png') }}" width="150" />
                {% elif result == 4 %}
                <img src="{{ url_for('static', filename='bikkuri.png') }}" width="150" />
                <img src="{{ url_for('static', filename='bikkuri.png') }}" width="150" />
                <img src="{{ url_for('static', filename='bikkuri.png') }}" width="150" />
                <img src="{{ url_for('static', filename='bikkuri.png') }}" width="150" />
                {% elif result == 5 %}
                <img src="{{ url_for('static', filename='bikkuri.png') }}" width="150" />
                <img src="{{ url_for('static', filename='bikkuri.png') }}" width="150" />
                <img src="{{ url_for('static', filename='bikkuri.png') }}" width="150" />
                <img src="{{ url_for('static', filename='bikkuri.png') }}" width="150" />
                <img src="{{ url_for('static', filename='bikkuri.png') }}" width="150" />
                {% endif %}
                <figcaption>{{ name }}</figcaption>
            </figure>
            <h2>{{ result_message }}</h2>
    </main>
</body>

</html>